<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ProjectLibrary.Properties.Settings.HanoiguesthousesConnectionString"
      connectionString="Data Source=TRUNG;Initial Catalog=Hanoiguesthouses;User ID=sa;Password=123456789"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.HanoiCityHotelConnectionString"
      connectionString="Data Source=VENUSMEDIA;Initial Catalog=TeamplateHotel;User ID=sa;Password=1234567"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.HaNoiCityPlaceHotelConnectionString"
      connectionString="Data Source=VENUSMEDIA;Initial Catalog=HaNoiCityPlaceHotel;Persist Security Info=True;User ID=sa;Password=1234567"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.EssenceHanoiConnectionString"
      connectionString="Data Source=VENUSMEDIA;Initial Catalog=EssenceHanoi;User ID=sa;Password=1234567"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.TeamplateHotel_25082014ConnectionString"
      connectionString="Data Source=TUNG-PC\MANH;Initial Catalog=TeamplateHotel_25082014;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.TeamplateHotelConnectionString"
      connectionString="Data Source=TUNG-PC\MANH;Initial Catalog=TeamplateHotel;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.TestTeamplateHotelConnectionString"
      connectionString="Data Source=VENUSMEDIA;Initial Catalog=TestTeamplateHotel;User ID=sa;Password=1234567"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.TeamplateHotel29112014ConnectionString"
      connectionString="Data Source=VENUSMEDIA;Initial Catalog=TeamplateHotel29112014;User ID=sa;Password=1234567"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.DbTestTeamplateHotelConnectionString"
      connectionString="Data Source=VENUSMEDIA;Initial Catalog=DbTestTeamplateHotel;User ID=sa;Password=1234567"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.DemoWebhotelConnectionString"
      connectionString="Data Source=KHONGLUIBUOC\WEBHOTEL;Initial Catalog=DemoWebhotel;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.DemoWebhotelConnectionString1"
      connectionString="Data Source=103.27.60.26;Initial Catalog=DemoWebhotel;User ID=DemoWebhotel;Password=DemoWebhotel@123465"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.BienBachotelConnectionString"
      connectionString="Data Source=KHONGLUIBUOC-PC\CMLVIETNAM;Initial Catalog=BienBachotel;User ID=sa;Password=abc@123"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.TeamplateHotel_NoBeConnectionString"
      connectionString="Data Source=KHONGLUIBUOC-PC\CMLVIETNAM;Initial Catalog=TeamplateHotel_NoBe;User ID=sa;Password=abc@123"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.TeamplateHotel_NoBEConnectionString1"
      connectionString="Data Source=KHONGLUIBUOC-PC\CML_SERVER;Initial Catalog=TeamplateHotel_NoBE;User ID=sa;Password=abc@123"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.ASIKYConnectionString"
      connectionString="Data Source=KHONGLUIBUOC-PC\CML_SERVER;Initial Catalog=ASIKY;User ID=sa;Password=abc@123"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.ASIKYConnectionString1"
      connectionString="Data Source=PHAMPHUONG-PC\SQLEXPRESS;Initial Catalog=ASIKY;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.ASIKYConnectionString2"
      connectionString="Data Source=DESKTOP-D0LSMIU\SQLEXPRESS;Initial Catalog=ASIKY;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.asikyDBConnectionString"
      connectionString="Data Source=DESKTOP-D0LSMIU\SQLEXPRESS;Initial Catalog=asikyDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.asikyDBConnectionString1"
      connectionString="Data Source=70.32.28.3;Initial Catalog=DBasikyDemo;User ID=DbEssenDemo&#xA;;Password=Tb1wy~09"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.DBasikyDemoConnectionString"
      connectionString="Data Source=DESKTOP-SKSDLCB\SQLEXPRESS;Initial Catalog=DBasikyDemo;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.DBasikyDemoConnectionString1"
      connectionString="Data Source=DESKTOP-38AJ5FV;Initial Catalog=DBasikyDemo;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.webkh_sushicoConnectionString"
      connectionString="Data Source=DESKTOP-S3FML7B\SQLEXPRESS;Initial Catalog=webkh_sushico; Integrated Security = true"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.webkh_sushicoConnectionString1"
      connectionString="Data Source=103.101.161.16;Initial Catalog=webkh_sushico;User ID=webkh_sushico;Password=s4pP45#q"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.Db_daivietConnectionString"
      connectionString="Data Source=DESKTOP-38AJ5FV\MSSQLSERVER01;Initial Catalog=Db_daiviet;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.Db_daivietConnectionString1"
      connectionString="Data Source=DESKTOP-38AJ5FV\SQLEXPRESS;Initial Catalog=Db_daiviet;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.webkh_dbdaivietConnectionString"
      connectionString="Data Source=103.101.161.16;Initial Catalog=webkh_dbdaiviet;User ID=webkh_dbdaiviet;Password=D62?y7bp"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.webkhachhang_daivietConnectionString"
      connectionString="Data Source=103.226.248.52;Initial Catalog=webkhachhang_daiviet;User ID=webkhachhang_daiviet;Password=123456789a@@"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.webkhachhang_daivietConnectionString1"
      connectionString="Data Source=DESKTOP-5LAGIRU\MSSQLSERVER1;Initial Catalog=webkhachhang_daiviet;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.duccio_dbConnectionString"
      connectionString="Data Source=mi3-wsq5.my-hosting-panel.com;Initial Catalog=duccio_db;User ID=duccio_db;Password=123456789a@@"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.hong_typerConnectionString"
      connectionString="Data Source=DESKTOP-PMBV650\SQLEXPRESS;Initial Catalog=hong_typer;Persist Security Info=True;User ID=sa;Password=1234$"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.hong_typerConnectionString1"
      connectionString="Data Source=DESKTOP-PMBV650\SQLEXPRESS;Initial Catalog=hong_typer;User ID=sa;Password=1234$"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.roadshine_db1ConnectionString"
      connectionString="Data Source=103.226.248.52;Initial Catalog=roadshine_db1;User ID=roadshine_db1;Password=123456789a@@"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.roadshine_db1ConnectionString1"
      connectionString="Data Source=103.226.248.52;Initial Catalog=roadshine_db1;Persist Security Info=True;User ID=roadshine_db1;Password=123456789a@@"
      providerName="System.Data.SqlClient" />
    <add name="ProjectLibrary.Properties.Settings.roadshine_db1ConnectionString2"
      connectionString="Data Source=mi3-wsq5.my-hosting-panel.com;Initial Catalog=roadshine_db1;User ID=roadshine_db1;Password=123456789a@@"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>