@using ProjectLibrary.Database
@using TeamplateHotel.Controllers
@using TeamplateHotel.Models
@{
    ViewBag.Title = "Product New";
    Menu menu = ViewBag.Menu ?? new Menu();
    var lan = Request.Cookies["LanguageID"].Value;
    Layout = "~/Views/Share/_LayoutPage.cshtml";
    List<Product> listProductNew = CommentController.GetProductNew();
}



<div class="banner banner-in">
    <div class="owl-theme">
        <div class="item">
            <a href="javascript:;">
                <img class="lazyOwl img-responsive" src="~/Content/assets/image/banner-about&newproduct.jpg">
            </a>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="wrap wrap-product">
        <div class="container">
            <div class="product">
                <div class="row">
                    @foreach (var itemPro in listProductNew)
                    {
                        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 wow fadeInUp" data-wow-duration=".8s">
                            <div class="item">
                                <div class="pic">
                                    <a class="img-box" href="/@menu.Alias/@itemPro.ProductID/@itemPro.Alias">
                                        <img class="lazy" src="@itemPro.Image" width="570" height="600" alt="349.html" />
                                    </a>
                                </div>
                                <div class="note">
                                    <h3><a href="/@menu.Alias/@itemPro.ProductID/@itemPro.Alias">@itemPro.ProductName</a></h3>
                                    <p>
                                        <a href="/@menu.Alias/@itemPro.ProductID/@itemPro.Alias"></a>
                                    </p>
                                    <a class="more" href="/@menu.Alias/@itemPro.ProductID/@itemPro.Alias"></a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <!-- <div class="page wow fadeInUp" data-wow-duration="1s">
                <nav aria-label="...">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">&#8592;</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active">
                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">&#8594;</a>
                        </li>
                    </ul>
                </nav>
            </div> -->
        </div>
    </div>
</div>


