@using ProjectLibrary.Database
@using TeamplateHotel.Controllers
@using TeamplateHotel.Handler
@model IEnumerable<ProjectLibrary.Database.Article>
@{
    Layout = "~/Views/Share/_LayoutPage.cshtml";
    Menu menu = ViewBag.Menu ?? new Menu();
    Company company = CommentController.DetailCompany(Request.Cookies["LanguageID"].Value);

}

<div class="container n-ding">
    <div class="row">
        <div class=" seafood">
            <div class="col-md-12 col-sm-12 ">
                <h2 class="title">@GetLanguage.Language(Request.Cookies["LanguageID"].Value, "Messages")</h2>
                <strong>@Html.Raw(ViewBag.Messages)</strong>

            </div>
        </div>

    </div>
</div>